.background-container {
    background-color: #212121;
    position: relative; /* Set the position relative for absolute positioning of text and button */
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.text {
    font-family: scope one;
    position: absolute;
    color: #F19F10;
    width: 40%;
    top: 17%;
    left: 4%;
    font-size: 12px;
    z-index: 2;
}

#link {
    position: absolute;
    font-family: londrina solid;
    top: 67%;
    left: 63%;
    transform: translateX(-50%);
    padding: 11px 35px;
    background-color: #F19F10;
    color: #181818;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 19px;
    border: 3px solid #181818;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
    z-index: 2;
}

#link:active {
    background-color: #EFC885;
}


@media (min-width: 400px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        margin: auto;
        height: 100vh;
        z-index: 1;
    }

    .text {
        top: 5%;
        left: 15%; 
        font-size: 1.5em;
        width: 30%;
    }

    #link {
        top: 65%; 
        left: 60%;
        transform: translateX(-50%);
        padding: 20px 60px;
        font-size: 30px;
    }
}